/* General for tablets and phones */

@media only screen and (max-width:850px) {
  .searchbar {
    width: 75%;
  }
  .tracks-list {
    width: 90%;
  }
  .track {
    .trackname {
      font-size: 100%;
    }
    img {
      height: 40px;
    }
    .playbutton-tracks {
      top: 20px;
      left: 15px;
      font-size: 120%;
    }
    .addbutton-tracks {
      font-size: 120%;
      top: 20px;
    }
  }
  .topbar {
    li {
      .nav-item-text {
        display: none;
      }
      .nav-icon {
        margin-right: 0;
      }
    }
  }
  .top-tracks {
    width: 80%;
    margin-top: 25px;
    .top-tracks-name {
      font-size: 90%;
    }
  }
  .player {
    height: 90px;
  }
  .player-bottom-row {
    display: block;
    .player-song-info {
      font-size: 85%;
      display: block;
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }
    .player-controls {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 50%;
      padding-top: 10px;
    }
    .player-icon {
      font-size: 140%;
    }
    .volume-control {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 50%;
    }
  }
}


/* Mobile */

@media only screen and (max-width: 480px) {
  .app-window {
    padding: 50px 10px;
  }
  .content-heading {
    font-size: 120%;
  }
  .top-tracks {
    width: 100%;
    .top-tracks-name {
      font-size: 80%;
    }
  }
  .artist-list, .albums-list {
    margin: 0 auto;
    li {
      width: auto;
      height: auto;
      color: $clouds;
      border-bottom: 1px solid #536177;
      padding: 10px 0;
      display: block;
      &:last-child {
        border: 0;
      }
      img {
        height: 40px;
        width: 40px;
      }
      .artistbox {
        display: flex;
        align-items: center;
      }
      .artist-artistname {
        margin: 0;
      }
      .artist-album-namebox {
        display: inline-block;
        padding-left: 30px;
        span {
          font-size: 90%;
        }
      }
    }
  }
  .playlist-controls {
    button {
      margin: 10px;
    }
  }
}


/* Ellipsis for names */

@media only screen and (max-width: 420px) {
  .track {
    .trackname {
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .top-tracks-name {
    width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .album-albumname, .artist-artistname {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


/* Shorter ellipsis */

@media only screen and (max-width: 350px) {
  .top-tracks-name {
    width: 150px;
  }
  .track {
    .trackname {
      width: 150px;
    }
  }
  .album-albumname, .artist-artistname {
    width: 150px;
  }
}

@media only screen and (max-width: 320px) {
  .top-tracks-name {
    width: 135px;
  }
  .track {
    .trackname {
      width: 135px;
    }
  }
  .album-albumname, .artist-artistname {
    width: 135px;
  }
}


/* Specific styling for the grid container*/

@media screen and (max-width: 1030px) {
  .artist-list, .albums-list {
    width: 664px;
  }
}

@media screen and (max-width: 830px) {
  .artist-list, .albums-list {
    width: 498px;
  }
}

@media screen and (max-width: 630px) {
  .artist-list, .albums-list {
    width: 332px;
  }
}

@media screen and (max-width: 480px) {
  .artist-list, .albums-list {
    width: 90%;
  }
}
