//Variables
$theme: #364F6B;

//General
html {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


//Topbar
.topbar {
  height: 50px;
  background: $theme;
  color: white;
  text-align: center;
  line-height: 50px;
}


//Search
.searchbar {
  width: 50%;
  margin: 50px auto 0;
  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid $theme;
    padding: 10px;
    font-size: 130%;
  }
}
