//Variables
$theme: #14181d;
$details: #00ADB5;
$silver: #222831;

//General
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.view-heading {
  text-align: center;
  color: white;
  margin-top: 0;
  padding-top: 20px;
  font-weight: 300;
  font-size: 120%;
}

.app-window {
  background: $silver;
}

.time-dropdown {
  background: $silver;
  color: white;
  border: 0;
  margin-left: 3px;
  font-size: 90%;
  font-weight: 300;
}

//Topbar
.topbar {
  height: 50px;
  background: $theme;
  color: white;
  line-height: 50px;
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  li {
    flex-grow: 1;
    .nav-icon {
      margin-right: 10px;
    }
  }
  a, a:visited {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    transition: background 0.2s;
    &:hover {
      background: $details;
    }
  }
  .active {
    background: $details;
  }
}


//Search
.searchbar {
  width: 50%;
  margin: 50px auto 0;
  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid $theme;
    padding: 10px;
    font-size: 130%;
  }
}

//Artists

.artist-list {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
  color: white;
  li {
    display: inline-block;
    width: 200px;
    height: 250px;
    margin: 20px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 2px;
    }
    p {
      font-weight: 300;
      font-size: 110%;
    }
  }
}
